:root {
	font-size: calc(var(--base) * 2);
    --accent-font: 'Clash Display', arial, sans-serif;
    --complement-font: 'Clash Display', arial, sans-serif;
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
    font-weight: 600;
    line-height: var(--line-height-md);
}