$accent: hsl(65, 100%, 60%);
$complement: hsl(120, 15%, 85%);
$dominant: hsl(190, 20%, 5%);

:root {
    --accent: #{$accent};
    --complement: #{$complement};
    --dominant-lighten: #{lighten($dominant, 5%)};
    --dominant: #{$dominant};
}