a {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    text-decoration: none;
    margin-top: 1.25rem;
    font-size: .875rem;
    padding: .75rem;
    position: relative;
    font-weight: 600;
    border-radius: .125rem;
    letter-spacing: 1px;
    overflow: hidden;
    transition: .25s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, 0% 100%);

    &:after {
        content: '';
        inset: 0;
        position: absolute;
    }
    
    > img {
        height: 1.5rem;
        margin-right: .5rem;
    }
    
    &:hover, &:focus, &:active {
        padding: .75rem 1rem .75rem .75rem;
        text-decoration: none;
        background: var(--color);
    }
}


