body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-family: 'Inter', serif;
    height: 100%;
    width: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
    background:
        linear-gradient(180deg, hsl(290deg 50% 50% / 65%), hsl(  0deg  0%  0% /  0%)),
        radial-gradient(circle, hsl(  0deg  0%  0% /  0%), hsl(260deg 40% 50% / 50%)),
        hsl(255deg 100% 10%);
        
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: url(../images/background.gif) no-repeat center/cover;
        mix-blend-mode: color-dodge;
        -webkit-filter: blur(32px) saturate(0);
        filter: blur(32px) saturate(0);
    }

    &.loading:after {
        opacity: 1;
    }

    &.loaded:after {
        opacity: 0;
    }

    &:after {
        opacity: 0;
        content: '';
        inset: 0;
        position: absolute;
        isolation: isolate;
        background: white;
        transition: opacity .25s ease-in-out;
    }

    &:not(.loading, .loaded):after {
        display: none;
    }
}