:root {
    --color: crimson;
    font-size: 16px;
}

*::selection {
    background-color: var(--color);
    color: black;
}

*::-moz-selection {
    background-color: var(--color);
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap');

@import
    'a',
    'body',
    'div',
    'headings',
    'html',
    'p',
    'section'
;

@media (max-width: 425px) {
    :root {
        font-size: 12px;
    }
}