:root {
	--button-background: var(--accent);
	--button-color: var(--black);
	--button-font-size: .875rem;
	--button-radius: var(--radius-sm);
	--button-padding: var(--gap-sm) calc(var(--gap-sm) + .25rem);
}

a.button, .button {
	display: flex;
	align-items: center;
	
	background-color: var(--button-background);
	color: var(--button-color);
	
	border: none;
	border-radius: var(--button-radius);	
	padding: var(--button-padding);
	
	font-family: var(--accent-font);
	font-size: var(--button-font-size);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, 0% 100%);
	
	svg {
		fill: var(--button-color);
		height: 1.5rem;
		margin-left: auto;
	}
	
	&:hover {
		--button-background: var(--blue-600);
	}

	&.md {
		--button-padding: var(--gap-md);
		--button-font-size: 14px;
	}

	&.lg {
		--button-padding: var(--button-padding-lg);
		--button-font-size: 16px;
	}

	&.red {
		--button-background: var(--red-400);

		&:hover {
			--button-background: var(--white);
		}
	}

}