h1 {
    font-size: 2rem;
    margin: 0;
    position: relative;
    font-weight: 600;
    margin-left: -1.75rem;
    span {
        letter-spacing: -.5rem;
        margin-right: .625rem;
        color: var(--accent);
    }
}

h2 {
    margin: 0;
    color: var(--accent);
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}