:root {
	--link-color: var(--offwhite);
	--link-font-size: 1rem;
	--link-radius: var(--radius-sm);
	--link-padding: var(--gap-sm);
	--link-transition-duration: .2s;
}

a.link {
	display: flex;
	align-items: center;
	
	color: var(--link-color);
	
	transition: var(--link-transition-duration) ease-in-out;
	
	border: none;
	border-radius: var(--link-radius);	
	padding: var(--link-padding);
	
	font-family: var(--accent-font);
	font-size: var(--link-font-size);
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1px;
	text-decoration: none;
	
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, 0% 100%);

	svg {
		fill: var(--link-color);
		height: 1.25rem;
		margin-right: .75rem;
		transition: calc(var(--link-transition-duration) / 4) linear;
	}
	
	&:hover, &:focus, &:active {
		background-color: var(--gray-400);
		--link-color: var(--white);
		svg {
			filter: drop-shadow(0 0 2rem var(--white));
			mix-blend-mode: hard-light;
		}
	}

	&:active {
		background-color: var(--accent);
	}

	&[href*="zbd.gg"] {
		background-color: var(--gray-400);
		box-shadow: 0 1.5rem 1rem -1rem var(--gray-500);
		&:hover, &:focus {
			background-color: var(--accent);
		}
	}

	&.md {
		--link-padding: var(--link-padding-md);
		--link-font-size: 14px;
	}

	&.lg {
		--link-padding: var(--link-padding-lg);
		--link-font-size: 16px;
	}

}