:root {
	--link-color: var(--white);
	--link-font-size: .875rem;
	--link-radius: var(--radius-sm);
	--link-padding: var(--gap-sm);
	--link-transition-duration: .2s;
}

a.link {
	display: flex;
	align-items: center;
	
	background-color: var(--black);
	background-size: 500%;
	background-position: 100%;
	color: var(--link-color);
	
	transition: var(--link-transition-duration) ease-in-out;
	
	border: none;
	border-radius: var(--link-radius);	
	padding: var(--link-padding);
	
	font-family: var(--accent-font);
	font-size: var(--link-font-size);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, 0% 100%);

	svg {
		fill: var(--link-color);
		height: 1.5rem;
		margin-right: .75rem;
		transition: fill calc(var(--link-transition-duration) / 4) linear;
	}

	&:hover, &:focus {
		background-color: var(--gray-400);
	}

	&:active {
		background-color: var(--accent);
	}

	&[href*="zbd.gg"] {
		--black: var(--gray-400);
		box-shadow: 0 1.5rem 1rem -1rem var(--gray-500);
		&:hover, &:focus {
			background-color: var(--accent);
		}
	}

	&.md {
		--link-padding: var(--link-padding-md);
		--link-font-size: 14px;
	}

	&.lg {
		--link-padding: var(--link-padding-lg);
		--link-font-size: 16px;
	}

}