.logotype {
    font-size: 2rem;
    margin: 0;
    position: relative;
    margin-left: -1.75rem;
    span {
        letter-spacing: -.5rem;
        margin-right: .625rem;
        color: var(--accent);
    }
}