.wrapper {
    margin: clamp(5rem, 10vw, 10rem);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 425px) {
        margin: 15vw;
        align-items: stretch;
    }
}