body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: var(--offwhite);
    font-family: var(--complement-font);
    height: 100%;
    width: 100%;
    line-height: 1;
    display: flex;
    background: var(--black);
    &.loading > * {
        display: none;
    }
}