body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: var(--complement);
    font-family: 'Chakra Petch', sans-serif;
    height: 100%;
    width: 100%;
    line-height: 1;
    display: flex;
    text-transform: uppercase;
    background: var(--dominant);

    &.loading:after {
        opacity: 1;
    }

    &.loaded:after {
        opacity: 0;
    }

    &:after {
        opacity: 0;
        content: '';
        inset: 0;
        position: absolute;
        isolation: isolate;
        background: var(--dominant);
        transition: opacity .25s ease-in-out;
    }

    &:not(.loading, .loaded):after {
        display: none;
    }
}