:root {
  --gray-400: #141d1f;
  --gray-500: #060909;
  --gray-alpha-200: rgba(20, 29, 31, 0.15);
  --yellow-400: #eeff33;
  --yellow-alpha-100: rgba(238, 255, 51, 0.05);
  --yellow-alpha-200: rgba(238, 255, 51, 0.15);
  --yellow-alpha-300: rgba(238, 255, 51, 0.25);
  --yellow-alpha-400: rgba(238, 255, 51, 0.35);
  --red-400: #ee2b4b;
  --red-alpha-100: rgba(238, 43, 75, 0.05);
  --red-alpha-200: rgba(238, 43, 75, 0.15);
  --red-alpha-300: rgba(238, 43, 75, 0.25);
  --red-alpha-400: rgba(238, 43, 75, 0.35);
  --blue-400: #6666ff;
  --blue-600: #4d4de6;
  --blue-alpha-100: rgba(102, 102, 255, 0.05);
  --blue-alpha-200: rgba(102, 102, 255, 0.15);
  --blue-alpha-300: rgba(102, 102, 255, 0.25);
  --blue-alpha-400: rgba(102, 102, 255, 0.35);
  --green-400: #40df20;
  --green-alpha-100: rgba(64, 223, 32, 0.05);
  --green-alpha-200: rgba(64, 223, 32, 0.15);
  --green-alpha-300: rgba(64, 223, 32, 0.25);
  --green-alpha-400: rgba(64, 223, 32, 0.35);
  --white: #d3ded3;
  --black: #0a0e0f;
  --accent: #eeff33;
}

.red:root {
  --accent: #ee2b4b;
}

.blue:root {
  --accent: #6666ff;
}

:root {
  --base: 8px;
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-md: 1.25rem;
  --gap-lg: 2rem;
  --line-height-sm: 0.75;
  --line-height-md: 1;
  --line-height-lg: 1.5;
}

@media (max-width: 425px) {
  :root {
    --base: 6px;
  }
}
@keyframes entry {
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
:root {
  font-size: calc(var(--base) * 2);
  --accent-font: "Chakra Petch", arial, sans-serif;
  --complement-font: "Bai Jamjuree", arial, sans-serif;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
  font-weight: 700;
  line-height: var(--line-height-md);
}

.alert {
  background: var(--gray-500);
  padding: var(--gap-md);
  font-family: var(--complement-font);
  font-size: 0.875rem;
  position: relative;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  border-radius: var(--radius-md);
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0% 100%);
}
.alert__body {
  transition: 0.5s ease-in-out;
}
.alert img,
.alert svg {
  height: 100%;
  background: black;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s ease-in-out;
}
.alert svg {
  fill: var(--accent);
}
.alert[data-alert=hide] {
  width: 100%;
}
.alert[data-alert=hide] svg {
  opacity: 0;
}
.alert[data-alert=loading] {
  opacity: 1;
}
.alert[data-alert=loading] .alert__body {
  opacity: 0;
  transform: translateY(2rem);
}
.alert[data-alert=red] {
  --accent: var(--red-400);
  width: 100%;
}
.alert[data-alert=red] svg {
  opacity: 0;
}
.alert[data-alert=green] {
  --accent: var(--green-400);
  width: 100%;
}
.alert[data-alert=green] svg {
  opacity: 0;
}
.alert[data-alert=yellow] {
  --accent: var(--yellow-400);
  width: 100%;
}
.alert[data-alert=yellow] svg {
  opacity: 0;
}

:root {
  --button-background: var(--accent);
  --button-color: var(--black);
  --button-font-size: .875rem;
  --button-radius: var(--radius-sm);
  --button-padding: var(--gap-sm) calc(var(--gap-sm) + .25rem);
}

a.button, .button {
  display: flex;
  align-items: center;
  background-color: var(--accent);
  background-size: 500%;
  background-position: 100%;
  color: var(--link-color);
  transition: var(--link-transition-duration) ease-in-out;
  border: none;
  border-radius: var(--link-radius);
  padding: var(--link-padding);
  font-family: var(--accent-font);
  font-size: var(--link-font-size);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0% 100%);
}
a.button svg, .button svg {
  fill: var(--link-color);
  height: 1.5rem;
  margin-right: 0.75rem;
  transition: fill calc(var(--link-transition-duration) / 4) linear;
}
a.button:hover, a.button:focus, .button:hover, .button:focus {
  background-color: var(--blue-600);
}
a.button:active, .button:active {
  background-color: var(--accent);
}
a.button.md, .button.md {
  --button-padding: var(--gap-md);
  --button-font-size: 14px;
}
a.button.lg, .button.lg {
  --button-padding: var(--button-padding-lg);
  --button-font-size: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input input {
  background-color: var(--gray-400);
  border: none;
  padding: var(--gap-xs) calc(var(--gap-xs) + 0.25rem);
  font-size: 1rem;
  line-height: var(--line-height-lg);
  border-radius: var(--radius-sm);
  color: var(--white);
  transition: 0.5s ease-in-out;
}
.input input:focus, .input input:focus-visible {
  outline: none;
}
.input__validation {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  opacity: 0;
}
.input__validation img {
  height: 1.5rem;
}

label, .label {
  color: var(--accent);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-family: var(--accent-font);
}

:root {
  --link-color: var(--white);
  --link-font-size: .875rem;
  --link-radius: var(--radius-sm);
  --link-padding: var(--gap-sm);
  --link-transition-duration: .2s;
}

a.link {
  display: flex;
  align-items: center;
  background-size: 500%;
  background-position: 100%;
  color: var(--link-color);
  transition: var(--link-transition-duration) ease-in-out;
  border: none;
  border-radius: var(--link-radius);
  padding: var(--link-padding);
  font-family: var(--accent-font);
  font-size: var(--link-font-size);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0% 100%);
}
a.link svg {
  fill: var(--link-color);
  height: 1.5rem;
  margin-right: 0.75rem;
  transition: fill calc(var(--link-transition-duration) / 4) linear;
}
a.link:hover, a.link:focus {
  background-color: var(--gray-400);
}
a.link:active {
  background-color: var(--accent);
}
a.link[href*="zbd.gg"] {
  background-color: var(--gray-400);
  box-shadow: 0 1.5rem 1rem -1rem var(--gray-500);
}
a.link[href*="zbd.gg"]:hover, a.link[href*="zbd.gg"]:focus {
  background-color: var(--accent);
}
a.link.md {
  --link-padding: var(--link-padding-md);
  --link-font-size: 14px;
}
a.link.lg {
  --link-padding: var(--link-padding-lg);
  --link-font-size: 16px;
}

.logotype {
  font-size: 2rem;
  position: relative;
  margin-left: -1.75rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(0.25rem);
}
body:not([class]) .logotype {
  animation-name: entry;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}
.logotype span {
  letter-spacing: -0.5rem;
  margin-right: 0.625rem;
  color: var(--accent);
}

.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 13.25rem;
}
.menu > * {
  opacity: 0;
  transform: translateY(2rem);
  filter: blur(0.25rem);
}
body:not([class]) .menu > * {
  animation-name: entry;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: left;
}
body:not([class]) .menu > *:nth-child(1) {
  animation-delay: 200ms;
}
body:not([class]) .menu > *:nth-child(2) {
  animation-delay: 300ms;
}
body:not([class]) .menu > *:nth-child(3) {
  animation-delay: 400ms;
}
body:not([class]) .menu > *:nth-child(4) {
  animation-delay: 500ms;
}
body:not([class]) .menu > *:nth-child(5) {
  animation-delay: 600ms;
}
body:not([class]) .menu > *:nth-child(6) {
  animation-delay: 700ms;
}
body:not([class]) .menu:last-of-type > *:nth-child(1) {
  animation-delay: 800ms;
}
body:not([class]) .menu:last-of-type > *:nth-child(2) {
  animation-delay: 900ms;
}

.wrapper {
  margin: clamp(5rem, 10vw, 10rem);
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 425px) {
  .wrapper {
    margin: 15vw;
    align-items: stretch;
  }
}

article {
  text-transform: none;
  margin: auto 0;
  line-height: 1.5;
  max-width: 30rem;
  font-family: "Bai Jamjuree", sans-serif;
}
article > * {
  margin: 1rem 0;
}
article h2 {
  font-size: 1rem;
  font-weight: normal;
}
article a {
  color: var(--complement);
}
article a:hover {
  color: var(--accent);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--white);
  font-family: "Chakra Petch", sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  display: flex;
  background: var(--black);
}
body.loading > * {
  display: none;
}

html {
  height: 100%;
}
