@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap");
:root {
  --accent: #eeff33;
  --complement: #d3ded3;
  --dominant-lighten: #141d1f;
  --dominant: #0a0e0f;
}

:root {
  font-size: 16px;
}

@media (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}
a {
  display: flex;
  align-items: center;
  color: var(--complement);
  position: relative;
  text-decoration: none;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  position: relative;
  font-weight: 600;
  border-radius: 0.125rem;
  letter-spacing: 1px;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0% 100%);
}
a[href*="zbd.gg"] {
  background-color: var(--dominant-lighten);
}
a:hover, a:focus, a:active {
  --complement: var(--dominant);
  background: var(--accent);
  text-decoration: none;
}
a svg {
  fill: var(--complement);
  height: 1.5rem;
  margin-right: 0.75rem;
}

.menu {
  margin-top: 3rem;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 13.25rem;
}
.menu__title {
  margin: 0;
  color: var(--accent);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 2rem;
  margin: 0;
  position: relative;
  font-weight: 600;
  margin-left: -1.75rem;
}
.title span {
  letter-spacing: -0.5rem;
  margin-right: 0.625rem;
  color: var(--accent);
}

.wrapper {
  margin: 0 20vw;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--complement);
  font-family: "Chakra Petch", sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  background: var(--dominant);
}
body.loading:after {
  opacity: 1;
}
body.loaded:after {
  opacity: 0;
}
body:after {
  opacity: 0;
  content: "";
  inset: 0;
  position: absolute;
  isolation: isolate;
  background: var(--dominant);
  transition: opacity 0.25s ease-in-out;
}
body:not(.loading, .loaded):after {
  display: none;
}

html {
  height: 100%;
}
