@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap");
:root {
  --color: crimson;
  font-size: 16px;
}

*::selection {
  background-color: var(--color);
  color: black;
}

*::-moz-selection {
  background-color: var(--color);
  color: black;
}

a {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  text-decoration: none;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  padding: 0.75rem;
  position: relative;
  font-weight: 600;
  border-radius: 0.125rem;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0% 100%);
}
a:after {
  content: "";
  inset: 0;
  position: absolute;
}
a > img {
  height: 1.5rem;
  margin-right: 0.5rem;
}
a:hover, a:focus, a:active {
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  text-decoration: none;
  background: var(--color);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  background: #1B1D1C;
}
body.loading:after {
  opacity: 1;
}
body.loaded:after {
  opacity: 0;
}
body:after {
  opacity: 0;
  content: "";
  inset: 0;
  position: absolute;
  isolation: isolate;
  background: #1B1D1C;
  transition: opacity 0.25s ease-in-out;
}
body:not(.loading, .loaded):after {
  display: none;
}

div {
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  position: relative;
  font-weight: 600;
}
h1 span {
  letter-spacing: -0.5rem;
  margin-right: 0.625rem;
  color: var(--color);
}

h2 {
  margin: 0;
  color: var(--color);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

html {
  height: 100%;
}

p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  top: 100%;
  margin: 16px 0 0 0;
}

section {
  margin: 0 auto 0 20vw;
}

@media (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}
